@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* html {
  height: 100%;
  width: 100%;

} */

/* 
* {
  box-sizing: border-box;
  margin: 0;

} */

/*Global CSS*/
body {
  font-family: "Montserrat", sans-serif;
  display: block;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.contact-form {
  max-width: 600px;
  margin: auto;
}

.container-nav {
  display: block;
  justify-content: center;
  margin: auto;
  padding: 0 30px;
  max-width: 700px;
  font-size: 20px;
}

.navBar-logo {
  display: inline;
  float: left;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-top: 0.5%;
}

.navLinks ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: #212121;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

/* Links for the Nav hover section */
.nav-item a:hover {
  background-color: #adbc9f;
}

/*State of page goes to this color, well ideally but currently not working 08/05/2024 */
.nav-item .active {
  background-color: #04aa6d;
}

/* -------------------------------Mobile version of nav---------------------------*/
.nav-button {
  background-color: transparent;
  border: 10px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  margin-left: 32px;
  float: left;
  line-height: 70px;
  display: none;
}

/*--------------------------------Search bar Css---------------------------------*/

.search-container {
  padding: 0px 0px 20px 80px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  max-width: 800px;
}

.search-container input {
  width: 320px;
  padding: 10px;
  border-radius: 3px;
  line-height: 1;
  border: 1px solid #12372a;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #12372a;
  color: #fbfada;
}

/*----------------800 tablets------------------------*/
/*Media Queries for Nav and search bar*/
@media (max-width: 800px) {
  .navLinks ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navLinks ul.show {
    display: flex;
  }

  .nav-button {
    display: flex;
    justify-content: center;
    margin-top: 1%;
  }

  .container-nav a:hover {
    background-color: #adbc9f;
  }
  .search-container {
    margin-top: 5%;
  }
  .search-container input {
    width: 300px;
  }

  .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 10px;
    background: #ddd;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
}

/*-----------------600 Phones-----------------------*/
@media (max-width: 600px) {
  .navLinks ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navLinks ul .show {
    display: flex;
  }

  .nav-button {
    display: inline-flex;
    justify-content: center;
    margin-top: 3%;
  }

  .container-nav a:hover {
    background-color: #adbc9f;
  }

  .search-container input {
    margin-top: 10px;
    width: 200px;
  }

  .search-container button {
    padding: 6px 10px;
    margin-top: 2px;
    margin-right: 2px;
    background: #ddd;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
}

/*----------------------------------------*/

/*CSS Header sections */

header .header-parks {
  background-image: url("/Imgs/headers/wallpaperflare.com_wallpaper.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
}

header .header-aboutUs {
  background-image: url("/Imgs/headers/serengeti-national-park-1.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
}

header .header-contactUs {
  background-image: url("/Imgs/headers/wallpaperflare.com_wallpaper\ \(1\).jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
}

header .header-title {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
  font-size: 6rem;
}

/*-----------------------------About page CSS-------------------------------------------------*/

.about-img {
  width: 200px;
  border-radius: 50%;
}

/*----------------------------CSS Main sections -------------------------------------*/
main {
  margin: 0 auto;
  max-width: 900px;
}

/*-----------------CSS for Parks page List of parks sections-----------------------------*/

.parks-title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.wrapper {
  height: 500px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.left-img {
  height: 100%;
  width: 33%;
  position: relative;
}

.middle-img {
  height: 100%;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
}

.top-img {
  height: 50%;
  position: relative;
}

.bottom-img {
  height: 50%;
  position: relative;
}

.right-img {
  height: 100%;
  width: 33%;
  position: relative;
}

.img-tile {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.img-tile:hover {
  opacity: 0.5;
}

.tile-text {
  position: absolute;
  background-color: #0000008e;

  text-align: center;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

/*--------------------------------------parks in africa images---------------------*/

/* ------------------------------------CAROUSEL------------------------------------------- */
#carouselExample {
  margin-top: 3%;
  /* left: 15%; */
  max-width: 100%;
  width: 100%;
  height: auto;
}

.w-100 {
  height: 75vh;
  object-fit: cover;
}

/* --------------------------------FORM PAGE section of the CSS----------------------------------------------*/

.contact-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 6px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

#message {
  padding: 15px;
  text-align: left;
}

/*----------------Labels Contact form page------------------------*/
label {
  font-weight: bold;
  font-size: 15px;
}

/*------------------------------------------------FOOTER SECTION------------------------*/
@media screen (max-width: 600px){
  .footer{
    display: flex;
    
  }
}

.icons i {
  font-size: 50px;
  color: rgb(58, 116, 65);
}

.footer :hover {
  color: rgb(58, 116, 65);
  transform: scale(1.2);
}

/*---------------MODAL-----------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
